/* PaymentCancellationPage.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .payment-cancel-success-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  