

.paymentCancelSuccessContainer {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
}

.navigationButtons {
  margin-top: 20px;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Login.jpg');
  background-size: cover;
  /* 이미지가 컨테이너에 꽉 차도록 */
  background-position: center;
  /* 이미지를 중앙에 배치 */
  height: 100vh;
  /* 화면 높이에 맞추기 */
  width: 100vw;
  /* 화면 너비에 맞추기 */
  margin: 0;
  padding: 0;
}