/* PaymentMethodPage.css */
.payment-method-page {
  background-color: #1b2838;
  color: white;
  padding: 20px;
}

.payment-method-container {
  display: flex;
  justify-content: space-between;
}

.billing-info {
  color: #66c0f4;
}

.payment-method-icons img {
  width: 50px;
  margin: 5px;
}

.continue-button {
  background-color: #5c7e10;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}