/* PaymentSuccessPage.module.css */
.paymentSuccessContainer {
  background-color: #1b2838;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #66c0f4;
}

.contentInstall,
.steamPoints,
.purchaseReceipt {
  background-color: #2a475e;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
}

button {
  background-color: #5c7e10;
  color: white;
}

