/* 배경 이미지와 전체 화면 크기 */
body, html {
    height: 100%  !important;
    margin: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-image: url('./login.png');

    background-size: cover !important;
    background-position: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
}

.container {
    background-color: rgba(24, 26, 33) !important; /* 반투명한 배경 */
    padding: 20px !important;
    border-radius: 4px !important;
    max-width: 1200px !important;
    width: 800px !important;
    color: white;
    height: 3;
}

.form-control {
    background-color: #2c2f33 !important;
    color: white !important;
    border: none !important;
    padding: 10px !important;
    width: 500px !important;
    border-radius: 2px !important;
    margin-left: 20px !important;
}
.spanid {
    margin-left: 20px !important;
    color:#2c85df !important;
}
.spanpw {
    margin-left: 20px !important;
    color: #b9bbbe;
}

.checkbox-group {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-left: 20px !important;
}
.login{
    display: flex !important;
    align-items: center !important;
    margin-right: 50px !important;
}
.form-control::placeholder {
    color: #b9bbbe !important;
}

.form-check-label {
    color: #b9bbbe!important;
}

.btn-success {
    background: linear-gradient(to right, #00A6FF, #007BFF) !important; 
    border: none !important;
    padding: 14px !important;
    border-radius: 2px !important;
    margin-left: 120px;
    width: 300px;
}

.btn-success:hover {
    background: linear-gradient(to right, #18aeff, #0073e6) !important; 
}

.jumbotron-title {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    text-align: left !important;
    margin-bottom: 40px !important;
    margin-left: 20px !important;
    color: white;
}


.login-qr-placeholder {
    height: 180px !important;
    width: 180px !important;
    background-color: #282b30 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #b9bbbe !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;
    text-align: center !important;
    margin-left: -25px
}

.login-qr-placeholder span {
    display: block !important;
    text-align: center !important;
    color: white !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}
