/* Steam 상단 메뉴 스타일 */
.navbar {
    background-color: #141d29; /* 어두운 배경 */
    padding: 10px 20px;
  }
  .container{
    background-color: #141d29 !important; 
  }
  
  .navbar .steam-logo {
    height: 40px; /* 로고 크기 조정 */
  }
  
  .navbar-nav .nav-link {
    color: #b8b8b8; /* 기본 링크 색상 (회색) */
    font-size: 14px;
    padding: 0 15px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff; /* Hover 시 텍스트 색상 */
  }
  
  .navbar-nav .btn-steam-install {
    background-color: #5cba47; /* Steam 설치 버튼 배경색 (녹색) */
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .navbar-nav .btn-steam-install:hover {
    background-color: #4aa33b; /* Hover 시 버튼 색상 */
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #2c2c2c; /* 드롭다운 메뉴 배경색 */
    color: #b8b8b8;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item {
    color: #b8b8b8;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent; /* 드롭다운 Hover */
    color: #ffffff;
  }
  
  /* 우측 메뉴는 오른쪽 정렬 */
  .navbar-nav.ml-auto {
    margin-left: auto;
  }
  