/* Login.module.css */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Login.jpg');
  background-size: cover;
  /* 이미지가 컨테이너에 꽉 차도록 */
  background-position: center;
  /* 이미지를 중앙에 배치 */
  height: 100vh;
  /* 화면 높이에 맞추기 */
  width: 100vw;
  /* 화면 너비에 맞추기 */
  margin: 0;
  padding: 0;
}


.jumbotronTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 20px;
  color: white;
}

.container {
  background-color: rgba(24, 26, 33);
  padding: 20px;
  border-radius: 4px;
  max-width: 1200px;
  width: 800px;
  color: white;
  margin-bottom: 200px;
}

.formControl {
  background-color: #2c2f33;
  color: white;
  border: none;
  padding: 10px;
  width: 500px;
  border-radius: 2px;
  margin-left: 20px;
}

.spanid {
  margin-left: 20px;
  color: #2c85df;
}

.spanpw {
  margin-left: 20px;
  color: #b9bbbe;
}

.checkboxGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 45px;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.loginQrPlaceholder {
  height: 180px;
  width: 180px;
  background-color: #282b30;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b9bbbe;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: -25px;
}

.btn-success {
  background: linear-gradient(to right, #00A6FF, #007BFF) !important;
  border: none !important;
  padding: 14px !important;
  border-radius: 2px !important;
  margin-left: 120px;
  width: 300px;
}

.btn-success:hover {
  background: linear-gradient(to right, #18aeff, #0073e6) !important;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .formControl {
    width: 100%;
  }
}
.span1{
  display: block; /* Span을 블록으로 만들어서 줄바꿈 가능 */
  font-size: 1.4rem; /* 크기 키우기 */
  color: white;
}
.span2{
  color: #b9bbbe;
  font-size: 13px;
  display: block; 
  text-align: center; 
}
.span3{
  color: #b9bbbe;
  font-size: 13px;
  display: block; 
  text-align: center; 
}
.span4{
  color: black !important;
}

.span5{
  font-size: 13px;
  color: red !important;
}
  
  
.accession {
  background-color: rgba(24, 26, 33);
  padding: 20px;
  width: 100%; /* 가로 전체 꽉 차도록 설정 */
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 페이지 하단에 위치 */
  left: 0; /* 왼쪽 끝에 고정 */
  right: 0; /* 오른쪽 끝에 고정 */
  color: white;
  text-align: center;
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-direction: column; /* 세로로 쌓이게 함 */
  z-index: 1000; /* 다른 요소들 위에 위치하도록 */
}
.row {
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 100%; /* 너비를 전체로 설정 */
}

.col-6 {
  flex: 1; /* 각 컬럼을 균등하게 분배 */
  max-width: 400px; /* 최대 너비 설정 (필요에 따라 조절) */
  margin: 0 10px; /* 양쪽 여백 추가 */
}



.button {
  background: linear-gradient(to right, #00A6FF, #007BFF) !important;
  color: white; /* 버튼 글자 색상 */
  padding: 5px 20px; /* 버튼 패딩 조절 */
  border: none; /* 테두리 없애기 */
  border-radius: 2px; /* 모서리 둥글게 */
  font-size: 1rem; /* 버튼 글자 크기 조절 */
  cursor: pointer; /* 커서 포인터로 변경 */
  transition: background-color 0.3s; /* 배경 색상 변화 애니메이션 */
}

.button:hover {
  background: linear-gradient(to right, #18aeff, #0073e6) !important;
}