.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Login.jpg');
    background-size: cover;
    /* 이미지가 컨테이너에 꽉 차도록 */
    background-position: center;
    /* 이미지를 중앙에 배치 */
    height: 100vh;
    /* 화면 높이에 맞추기 */
    width: 100vw;
    /* 화면 너비에 맞추기 */
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-size: 2rem !important;
    color: #ffffff !important;
    margin-bottom: 20px !important;
  }
  
  .form {
    width: 500px !important;
    display: flex !important;
    flex-direction: column !important;
    background-color:  #141d29  !important; /* 폼 배경 */
    padding: 20px !important;
    border-radius: 10px !important; 
  }
  
  .formGroup {
    margin-bottom: 15px !important;
    margin-top: 20px;
  }
  .formGroup1 {
    margin-bottom: 15px !important;
    margin-top: 50px;
  }
  .formGroup2 {
    margin-bottom: 15px !important;
    margin-top: 15px;
  }
  
  .label {
    font-size: 0.9rem;
    color: #cccccc;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    background-color: #2c2f33;
    color: #ffffff;
  }
  
  .input:focus {
    border-color: #ffffff !important;
    outline: none;
  }
  
  .comment {
    font-size: 0.8rem !important;
    color: #61dafb !important;
    margin-top: 5px !important;
  }
  
  .submitButton {
    width: 30% !important;
    padding: 10px;
    font-size: 1rem;
    background-color: #1d9bf0 !important; /* 파란색 버튼 */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease !important;
    margin-top: 30px;
  }
  
  .submitButton:hover {
    background-color: #4ccff3 !important;
  }
  
