/* SteamAgreement.module.css */

.steamAgreementContainer {
    padding: 40px;
    background-color: #1b2838;
    color: #c7d5e0;
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #000000;
    min-height: 100vh; /* 뷰포트의 전체 높이로 설정 */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sectionTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .contentSection {
    margin-bottom: 20px;
  }
  
  .content {
    color: #c7d5e0;
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  a {
    color: #66c0f4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .steamAgreementContainer a {
    color: #66c0f4;
    text-decoration: none;
  }
  
  .steamAgreementContainer a:hover {
    text-decoration: underline;
  }
  