.privacyPolicyContainer {
    padding: 40px;
    background-color: #1b2838;
    color: #c7d5e0;
    font-family: Arial, sans-serif;
    max-width: 100%; /* 배경색을 전체 넓이로 확장 */
    margin: 0 auto;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #000000; /* 검정색으로 변경 */
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000; /* 검정색으로 변경 */
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000; /* 검정색으로 변경 */
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #66c0f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
